﻿@using MosqueApp.Models.Model;
@model MosqueApp.Models.ViewModel.MosqueViewModel

@{
    ViewData["Title"] = "ListMosque";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<br />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>İsmi</th>
            <th>Şehir</th>
            <th>Sil</th>
            <th>Güncelle</th>
            <th>Detaylar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var mosque in Model.Mosques)
        {
            <tr>
                <td>@mosque.Name</td>
                <td><option value="@mosque.TownId">@mosque.Town.City.Name</option></td>
                <td>
                    <a href="/Mosque/Delete/@mosque.Id" class="btn btn-danger btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-trash"></i>
                        </span>
                        <span class="text">Sil</span>
                    </a>
                </td>
                <td>
                    <a href="/Mosque/EditMosque/@mosque.Id" class="btn btn-success btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-check"></i>
                        </span>
                        <span class="text">Güncelle</span>
                    </a>
                </td>
                <td>
                    <a href="#" class="btn btn-info btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-info-circle"></i>
                        </span>
                        <span class="text">Detaylar</span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>